<footer>
  <div class="row">
    <div class="medium-4 push-9 columns" id="social">
      <ul class="inline-list">
        <li><%= link_to "", "http://www.facebook.com/darvishtw", id: "fb", target: "_blank" %></li>
        <li><%= link_to "", "http://twitter.com/darvishtw", id: "twitter", target: "_blank" %></li>
        <li><%= link_to "", "http://feeds.feedburner.com/darvishtw", id: "rss", target: "_blank" %></li>
      </ul>
    </div>
    <div class="medium-8 pull-4 columns" id="footer-items">
      <ul class="inline-list">
        <li><%= link_to '關於本站', page_path('about') %></li>
        <li><%= link_to '板權宣告', page_path('copyright') %></li>
        <li><%= link_to '聯絡我們', new_contact_path %></li>
      </ul>
      <div id="copyright">© 2013-2014 達比修有台灣粉絲網. All rights reserved.</div>
    </div>
  </div>
</footer>

<%#
<div class="zurb-footer-bottom">
  <div class="row">
    <div class="medium-4 medium-4 push-8 columns">
      <ul class="home-social">
          <li><a href="http://www.twitter.com/ZURB" class="twitter"></a></li>
          <li><a href="http://www.facebook.com/ZURB" class="facebook"></a></li>
          <li><a href="/contact" class="mail"></a></li>
        </ul>
     </div>
     <div class="medium-8 medium-8 pull-4 columns">
        <a href="http://www.zurb.com" class="zurb-logo regular"></a>
        <ul class="zurb-links">
          <li><a href="http://zurb.com/about">About</a></li>
          <li><a href="http://zurb.com/blog">Blog</a></li>
          <li><a href="http://zurb.com/news">News<span class="show-for-medium-up"> &amp; Events</span></a></li>
          <li><a href="http://zurb.com/contact">Contact</a></li>
          <li><a href="http://zurb.com/sitemap">Sitemap</a></li>
       </ul>
       <p class="copyright">© 1998–2013 ZURB, Inc. All rights reserved.</p>
    </div>          
  </div>
</div>
%>